.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

fieldset{
  border-radius: 10px;
  border-color: black;
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.button {
  border-radius: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}

table {
  border: solid black 1px;
  table-layout: auto;
  width: 100%;
}

td {
  text-align: left;
  background-color: coral;
}

.listBuah {
  margin: 20px;
  border: solid 2px;
}

.element {
  width: 200px;
  background-color: coral;
}

th {
  background-color: gray;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  width: 200px;
}